<div class="container" appHighlight appHover>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vero
    deserunt, enim ratione officia quod harum magni atque non, dolore ipsam?
    Consectetur, id? Magnam harum odio repellat quidem dolorum natus!
  </p>
</div>
<div class="container" appHighlight appHover>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vero
    deserunt, enim ratione officia quod harum magni atque non, dolore ipsam?
    Consectetur, id? Magnam harum odio repellat quidem dolorum natus!
  </p>
</div>
